.checkbox {
  padding: 0 10px 0 30px;
}
.checkbox:hover {
  background-color: #f1f1f1;
}
.checkboxInput {
  width: 1rem;
  height: 1rem;
  margin-top: 0.5em !important;
}
.checkboxInput:focus {
  box-shadow: none;
}
.checkboxLabel {
  font-size: 1rem;
  text-transform: capitalize;
}
