.Modal {
  background-color: #fff;
}

.container {
  background-color: #fff;
  text-align: center;
  font-size: 1.7rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 4px;
}
.cross {
  float: right;
  font-size: 1.3rem;
  color: #000;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}
.button {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
.button > Button {
  text-transform: uppercase;
  width: 100%;
}

/* Responsive*/

@media screen and (min-width: 992px) {
  .container {
    position: fixed;
    top: 20%;
    left: 45%;
    margin-left: -195px;
    width: 30%;
  }
}
