.Modal {
  background-color: #fff;
}

.container {
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.cross {
  float: right;
  font-size: 1.3rem;
  color: #000;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}
.header {
  color: #444;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}
.socialShare {
  height: 60px;
  margin-bottom: 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  color: #fff;
}
.socialShare:first-child {
  background-color: rgb(0, 172, 237);
}
.socialShare:nth-child(2) {
  background-color: rgb(59, 89, 152);
}
.socialShare:hover {
  opacity: 0.9;
}
.socialShare svg {
  display: inline-block;
}
.socialShare button {
  width: 100%;
}
.twitter {
  background: rgb(0, 172, 237);
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
}
.facebook {
  background: rgb(59, 89, 152);
  text-transform: uppercase;
  padding: 0.8rem;
}

.clipboard {
  background: #6665f1;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
}

/* Responsive*/

@media screen and (min-width: 992px) {
  .container {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -195px;
    width: 20%;
  }
}
