.nav {
  margin-top: 10px;
  padding: 10px;
  background: fff;
  color: #000;
  border-bottom: solid 1px #e1e2e5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}
