.playbar {
  width: 100vw;
  height: 85px;
  padding: 1.2rem;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(225, 226, 229);
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.3rem;
}

.wave {
  position: inherit !important;
  margin: 0 !important;
}
.volumeIcon {
  font-size: 1.5rem;
  align-self: center;
}
