.inputField {
  border: none;
  font-weight: 500;
  height: 50px;
  outline: none;
  padding: 0px 1em;
  position: relative;
  transition: all 0.15s ease 0s;
  width: 100%;
}
.magnifier {
  font-size: 2rem;
  color: #36abcc;
}
