.searchFilter {
  font-size: 0.9rem;
  letter-spacing: 0.04em;
  line-height: 20px;
}
.searchFilter input,
.searchFilter input:focus {
  outline: none;
  background-color: transparent;
  border-style: none;
  margin-bottom: 10px;
}
.tagList {
  height: 200px;
  width: 100%;
  overflow: auto;
}
