.orLine {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  align-items: center;
  text-align: center;
  grid-gap: 10px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 1rem;
  font-size: 1rem;
  color: #555;
}
.orLine:before,
.orLine:after {
  content: '';
  border-top: 1px solid;
}
