.volume {
}

.seek {
}

.volume > .rangeslider-horizontal,
.seek > .rangeslider-horizontal {
  height: 8px;
}

.volume > .rangeslider-horizontal {
  width: 100px;
}

.volume > .rangeslider-horizontal .rangeslider__fill {
  background-color: #6969f2;
}

.volume > .rangeslider-horizontal .rangeslider__handle {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  outline: none;
}

.volume > .rangeslider-horizontal .rangeslider__handle:after,
.seek > .rangeslider-horizontal .rangeslider__handle:after,
.seek > .rangeslider-horizontal .rangeslider__handle {
  display: none;
}
.rangeslider-horizontal .rangeslider__fill {
  background-color: #a58af9 !important;
}
