.item {
  /* font-size: 1rem; */
  line-height: 1.8rem;
  padding: 15px 0;
}

.item:hover {
  background-color: #f3f3f3;
}

.selected {
  background-color: #f3f3f3;
}
.itemText {
  font-size: 1rem;
}
.wave {
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  background-color: #f8f8f8;
  font-size: 0.8rem;
  color: #4d4d4d;
}
.icons {
}
.tag {
  font-size: 13px;
  background-color: #ebeced;
  color: rgb(49, 49, 49);
  border-radius: 25px;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
}
.tag:hover {
  background-color: #a58afa;
  color: #fff;
}

.selected > .tagList > span {
  background-color: #a58afa;
  color: #fff;
}
.thumbnailColor {
  width: 48px;
  height: 48px;
  display: block;
}
.download:hover,
.details:hover {
  background: rgb(165, 137, 249);
  background: linear-gradient(90deg, rgba(165, 137, 249, 1) 0%, rgba(102, 103, 241, 1) 100%);
  border-color: #6667f1;
}
.download:focus,
.details:focus {
  box-shadow: none !important;
}
